{{#if (or model.length remaining.length)}}
  <section class="main">
    {{#if canToggle}}
      {{input type="checkbox"
              class="toggle-all"
              change=(action "toggleSelect")}}
    {{/if}}
    <ul class="todo-list">
      {{#each model as |record|}}
        {{todo-item data=record
                    onChange="updateTodo"
                    onDestroy="removeTodo"}}
      {{/each}}
    </ul>
  </section>
  <footer class="footer">
    <span class="todo-count">
      <strong>{{remaining.length}}</strong> {{pluralize 'item' remaining.length}} left
    </span>
    <ul class="filters">
      <li>
        {{#link-to "todos.index" activeClass="selected"}}
          All
        {{/link-to}}
      </li>
      <li>
        {{#link-to "todos.active" activeClass="selected"}}
          Active
        {{/link-to}}
      </li>
      <li>
        {{#link-to "todos.completed" activeClass="selected"}}
          Completed
        {{/link-to}}
      </li>
    </ul>
    {{#if completed.length}}
      <button class="clear-completed" {{action "clearCompleted"}}>
        Clear completed
      </button>
    {{/if}}
  </footer>
{{/if}}
